html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

.header-menu {
    border-bottom: 2px solid #4D316D;
}

.nav-item a:visited {
    background-color:#EFEFEF !important;   

}

.sesion a{
    text-transform: uppercase;
    font-size: .8em;
}

.user-information {
    display: flex;
}

.user-photo {
    padding: 5px 15px;
}

.user-photo button {
    background-color: #4D316D;
    text-transform: uppercase;
    font-size: .7em;

}

.header-menu ul li a{
    color: #282828;
    font-weight: 600;
}

.header-menu ul li a:hover{
    color: #2E0557;
    font-weight: 600;
    transition: all 0.5s ease-out;
}

.header-menu i {
    font-size: 2rem;
    color: #2E0557;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-hero {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #4D316D;
  }
  
.content-video {
    position: absolute;
    display: flex;
  }

.busqueda-contenedor {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 480px;
      height: 50px;
      background-color:#F2F2F2;
    }
  
.busqueda {
    border: none;
    padding: 10px 25px;
    width: 90%;
    background-color:#F2F2F2;

}

.busqueda:focus {
        outline: none;
}
 
.lupa {
    width: 10%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid gray;
    background-color:#F2F2F2;
}

.lupa a {
    color: #4D316D;
}
.lupa a:hover {
    color: #CECECE;
    transition: all 0.4s ease-out;
}
.main {
    overflow: hidden;
}

.main button {
    font-size: 1.8rem;
    font-weight: 600;
}
.main button i{
    padding-right: 5px;
 
}

.main button:hover {
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.45);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.45);
    transition: all 0.3s ease-out;
    opacity: .9;

}

.ingles {
    filter: grayscale(1);
}

    

@media screen and (max-width: 480px) { 
   
   /* SECCION BUSCADOR */

    .content-video {
        width: 90%;
       }
     
    .busqueda-contenedor {
        width: 100%;
      }

      .busqueda {
        width: 85%;
    
    }
      .lupa {
        width: 15%;
    }

        .nav {
            display: inline !important;
        }

     
}
    


